[BUG] entityRef path parameter is encoding a reserved delimiter character

> **Please do not disclose security vulnerabilities as issues. See our [security policy](../../SECURITY.md) for responsible disclosures.**

### Describe the bug

when it is deployed behind my auth proxy service, the /:entityref path parameter gets decoded and then the backend fails to find a matching URI path. This is what happens:

UI fetches:
`/api/jira-dashboard/avatar/by-entity-ref/component%3Adefault%2Fexample-website`

Backend URI received:
`/api/jira-dashboard/avatar/by-entity-ref/component:default/example-website`

so express is trying to match a route for something like the below APIs, but can't find it and responds with a 404:
/api/jira-dashboard/avatar/by-entity-ref/:entityref/example-website
/api/jira-dashboard/avatar/by-entity-ref/:entityref/:name

where ":entityref == "component:default"

Technically speaking, RFC3986 section 2.2 explains the risks of encoding reserved characters such as '/' in the URI path:

> The purpose of reserved characters is to provide a set of delimiting
   characters that are distinguishable from other data within a URI.
   URIs that differ in the replacement of a reserved character with its
   corresponding percent-encoded octet are not equivalent.  Percent-
   encoding a reserved character, or decoding a percent-encoded octet
   that corresponds to a reserved character, will change how the URI is
   interpreted by most applications.

Reference:
https://datatracker.ietf.org/doc/html/rfc3986#section-2.2

### To reproduce

1. Setup backstage to use the oauth2Proxy sign on provider as such:
https://backstage.io/docs/auth/oauth2-proxy/provider

2. startup oauth2Proxy such as this example docker-compose file: https://github.com/backstage/backstage/blob/57397e7d6d2d725712c439f4ab93f2ac6aa27bf8/plugins/auth-backend/examples/docker-compose.oauth2-proxy.yaml

3. add jira-dashboard plugins to the backstage app.

4. Navigate to the jira-dashboard tab of a valid entity.

5. Jira tab shows "404" error, where UI fetches:
`/api/jira-dashboard/avatar/by-entity-ref/component%3Adefault%2Fexample-website`

Backend URI received:
`/api/jira-dashboard/avatar/by-entity-ref/component:default/example-website`

### Environment

- Node 18.16.1
- React 18
- custom auth proxy, but can be tested with the oauth2Proxy 